<p>{{message}}</p>
<h3> {{parentMessage}} </h3>

<button class="btn btn-primary" (click)="sendBooks()">Send Books</button>
<!-- <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th># pages</th>
            <th>Author</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let oneBook of books">
            <td>{{oneBook._id}}</td>
            <td>{{oneBook.title}}</td>
            <td>{{oneBook.nbOfPages}}</td>
            <td>{{oneBook.author}}</td>
            <td *ngIf="oneBook.image">{{oneBook.image}}</td>
            <td *ngIf="!oneBook.image">None</td>
        </tr>
    </tbody>
</table> -->